@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

// colors
$color-white: #fff;
$color-silver: #C9C9C9;
$color-dark-charcoal: #333333;
$color-malibu: #86b7fe;

// box-shadow
$color-input-box-shadow: rgba(13,110,253,.25);


// fonts
$font-primary: 'Raleway', sans-serif;
